---
import '../styles/global.css'
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
const { frontmatter } = Astro.props;
---
<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>{frontmatter.title}</title>
</head>

<Header />
<h1>{frontmatter.title}</h1>
<p>投稿日：{frontmatter.pubDate.toString().slice(0,10)}</p>
<p>著者：{frontmatter.author}</p>
<p><em>{frontmatter.description}</em></p>
<img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt}>
<slot />
<Footer />