---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/tag.css";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <p>投稿日：{frontmatter.pubDate.toString().slice(0, 10)}</p>
  <p>著者：{frontmatter.author}</p>
  <p><em>{frontmatter.description}</em></p>
  <div class="tags">
    {
      frontmatter.tags.map((tag: any) => (
        <p class="tag">
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>
  <slot />
</BaseLayout>
